{
box-sizing: border-box;
text-align: center;
}



body{
    background-color: #gray;
    font-size: 18px;
}


header{
    background-color: #ebebeb;
    padding: 20px;
    margin-bottom: 15px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    color: black;
    text-align: center;
    height: 30px;
}

section {
    padding: 20px;
    margin-top: 120px;
    margin-bottom: 30px;
    text-align: center;
    float: left;
    height: 300px;
    width: 30%;

}



#full{
    clear: both;
    background-color: #eee;
    overflow: auto;
    width: 50%;
    margin-top: 200px;

}

#idItem{
        background-color: #6ea3da;
        padding: 20px;
        margin-top: 20px;
        height: 30px;

}

.classItem{
    background-color: orange;
    color: white;
}
aside{
    background-color: #ccc;
    height: 340px;
    float: left;
    text-align: center;
    width: 145%;
    margin-bottom: 30px;
    margin-top: 60px;



}

footer{
    clear: both;
    padding: 20px;
    background-color: #ccc;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    height: 40px;

}
